# Node.js dependencies
/node_modules/

# Build output
/dist/
/coverage/

# TypeScript configuration files
/tsconfig.tsbuildinfo

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
